{% extends "base.html" %}

{% block title %}post-detail{% endblock %}

{% block content %}
<div id="content">
	<h1>{{ object.title }}</h1>
	<h2>Description</h2>
	<p>{{ object.description|linebreaks }}</p>
	<ul>
		<li><a href="{{ object.url }}">{{ object.url }}</a></li>
	</ul>
	<a href="{% url 'bookmark:index' %}">목록으로 돌아가기</a>
</div>

<hr>
<div>
	<form action="{% url 'bookmark:delete' object.id %}" method="post">
		{% csrf_token %}
		{% if request.user == object.user %}
			<button class="btn btn-inverse">글삭제</button>
		{% else %}
			<button class="btn" disabled="disabled">삭제</button>
			(작성자만 삭제할수 있습니다)
		{% endif %}
	</form>
</div>

{% endblock %}
