{% extends "base.html" %}

<title>{% block title %}Book Mark List{% endblock title %}</title>

{% block content %}
	
<div id="content">

<h1>글 목록</h1>

<table class="table table-striped table table-hover">
	<thead>
		<tr>
			<th>제목</th>
			<th>설명</th>
			<th>작성자</th>
			<th>작성일시</th>
			<th>hits</th>
		</tr>
	</thead>

	<tbody>
		{% for item in object_list %}
		<tr>
			<td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
			<td><a href="{{ item.get_absolute_url }}">{{ item.description }}</a></td>
			<td>{{ item.user }}</td>
			<td>{{ item.create_date|date:"Y-m-d h:i:s" }}</td>
			<td>{{ item.hit_count.hits }}</td>
		</tr>
		{% endfor %}		
	</tbody>
</table>

	<div class="container">
		{% if is_paginated %}
		<div class="row">
			<div class="span8">
				<div class="pagination pagination-centered">
				    <ul>
				        {% if page_obj.has_previous %}
				            <li><a href="?page={{ page_obj.previous_page_number }}" >이전 페이지</a></li>
				        {% else %}
				            <li><a href="?page=1" disabled="disabled">이전 페이지</a></li>
				        {% endif %}
				        {% for i in paginator.page_range %}
				           {% if page_obj.has_next %}
				               <li><a href="?page={{i}}">{{i}}</a></li>
				           {% endif %}
				        {% endfor %}

				        {% if page_obj.has_next %}
				            <li><a href="?page={{ page_obj.next_page_number }}">다음페이지</a></li>
				        {% else %}
				        	<li><a href="?page={{ paginator.num_pages }}" disabled="disabled">다음페이지</a></li>
				        {% endif %}
				    </ul>
				</div>
			</div>
			{% endif %}
			<div class="pull-right">
				<a class="btn btn-success" href="{% url 'blog:add' %}">글쓰기</a>
			</div>
		</div>
	</div>

{% endblock content %}

